        .container{
            display: flex;
            flex-direction: column;
        }
        header{
            border-bottom: 1px solid gray;
            padding-left: 20px;
            text-align: center;
        
        }
        

        footer{
            border-top: 1px solid gray;
            padding: 20px;
            text-align: center;
        }
        .content{
            display:flex;
        }
        .content nav{
            border-right: 1px solid gray;
        }
      
        nav{
            flex-basis: 20%;
            flex-shrink: 0;
        }
       
        main{
            padding: 10px;
            text-align: center;
        }
        table{
            margin-right: auto;
            margin-left: auto;
            width : 700px;
            height : 400px;
        }